@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: rgba(22, 21, 19, 1);
    margin: 0;
    padding: 0;

}

.flex{
    display: flex;
}
.nav{
    background-color: rgba(34, 34, 34, 1);
    height: 9vh;
    justify-content: space-around;
}

.nav ul{
    list-style: none;
    justify-content: center;
    align-items: center;
}

.nav img{
    align-self: center;
    margin: 10px;

}

.nav ul li{
    color: white;
    margin: 2vw;
    font-family: "Plus Jakarta Sans", serif;
    font-size: 14px;
}

.landing{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 20px 10px 20px;
    text-align: center;
    column-gap: 5px;
    position: relative;
}

.landing h1{
    font-size: 42px;
    font-family: 'Poppins';
    max-width: 700px;
    color: white;
    padding: 0;
}

.gradient{
    background: linear-gradient(135deg, #FF8660, #FF8660, #9A33FF); 
            -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text; 
}

.landing p{
    color: white;
    font-family: 'Poppins';
    font-weight: 100;
    max-width: 700px;
    font-size: 14px;
    top: -40px;
    position: relative;
}

.btn{
    border: none;
    border-radius: 100px;
    padding: 8px 15px;
    margin: 0 5px;
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: 600;
    position: relative;
    top: -20px;
    cursor: pointer;
}

.btn1{
    color: black;
    background-color: white;
}

.btn2{
    border: 1px solid white;
    background-color: rgba(22, 21, 19, 1);
    color: white;
}

.exp{
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.exp h4{
    font-size: 12px;
    font-family: 'Poppins';
    font-weight:normal;
}

.expimg{
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
}

.projects{
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    flex-direction: column;
    flex-wrap: wrap;
}

.projects h3{
    color: white;
    font-family: 'Poppins';
    font-size: 30px;
    background: linear-gradient(180deg, #FF8660, #FF8660, #D5491D); 
            -webkit-text-fill-color: transparent; 
            -webkit-background-clip: text; 

}

.projects img{
    margin: auto;
    box-shadow: 3px 3px 100px black;
    width: 250px;
}

.projects div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 50px;
}

.hamburger{
    color: white;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
    margin: 10px;
}

@media screen and (max-width: 550px) {
    .hamburger{
        display: flex ;
    }

    .nav ul{
        display: none;
    }

    .nav{
        justify-content: space-between;
    }
}