@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #121212;
    color: white;
    font-family: "Sour Gummy", sans-serif;
    text-align: center;
}
body h1{
    font-size: 50px;
}
#number{
    /* padding: 5px; */
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.08);
    border: 0.2px solid white;
    border-radius: 5px;
    padding: 5px;
    color: white;
    text-align: center;
    height: 20px;
    font-weight: bold;
}
#number:focus{
    outline: none;
}
.roll{
    font-size: 15px;
    font-family: "Sour Gummy", sans-serif;
    background-color: #a2bffe;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;
    transition: background-color 0.2s ease, transform 0.1s ease;
}
.roll:hover{
    background-color: #719dfe;
    transform: scale(105%);
}
.label{
    font-size: 22px;
}
#one{
    display: none;
}
#two{
    display: none;
}
#three{
    display: none;
}
#four{
    display: none;
}
#five{
    display: none;
}
#six{
    display: none;
}
#result{
    font-size: 25px;
    color: rgb(255, 139, 139);
}
.images img{
    height: 60px;
}