@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #121212;
    color: white;
    font-family: "Sour Gummy", sans-serif;
    text-align: center;
}
.box h1{
    color: #a2bffe;
}
.box{
    background-color: rgba(255, 255, 255, 0.08);
    margin: 20px 10px;
    padding: 20px 10px;
    height: 350px;
}
#textbox{
    background-color: rgba(255, 255, 255, 0.08);
    border: 0.2px solid white;
    border-radius: 5px;
    padding: 5px;
    color: white;
}
#textbox:focus{
    outline: none;
}
.button{
    background-color: rgba(255, 255, 255, 0.08);
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    color: rgba(251, 194, 194, 0.7);
    transition: background-color 0.2s ease, transform 0.1s ease;
    font-size: 20px;
}
#reload{
    color: rgba(206, 251, 194, 0.7);
}
.button:hover{
    background-color: rgba(255, 255, 255, 0.157);
    transform: scale(105%);
}
.result{
    font-size: 25px;
    color: #ff6961;
}
.radio{
    font-size: 20px;
}