@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}
nav{
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin: 10px 20px 0px 60px;
    height: 50px;
}
.logo img{
    height: 85%;
    width: auto;
}
.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-list li{
    list-style: none;
    margin: 0 10px;
    font-size: 15px;
}

.nav-list li a{
    text-decoration: none;
    color: #e5e5e5;
    transition: all 0.1s ease;
}
.nav-list li a:hover{
    color: #bebebe;
}
.left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.right{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
    gap: 20px;
}
.search-image{
    height: 25px;
    width: 25px;
    margin-right: 10px;
    filter: invert(100%);
    cursor: pointer;
}
.children{
    cursor: pointer;
    font-size: 15px;
}
.notification-icon{
    height: 25px;
    width: 25px;
    margin-right: 10px;
    filter: invert(100%);
    cursor: pointer;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    cursor: pointer;
}
.downarrow{
    height: 15px;
    width: 15px;
    margin-left: 5px;
    filter: invert(100%);
    cursor: pointer;
}